# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/spendly-frontend/node_modules
/spendly-backend/.gradle
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
/spendly-frontend/coverage

# next.js
/.next/
/out/
/spendly-frontend/.next/
/spendly-frontend/out/

# production
/build
/spendly-backend/build
/spendly-frontend/build
/spendly-frontend/ios/App/App/capacitor.config.json
/spendly-frontend/ios/App/App/public/
/spendly-frontend/ios/App/build/
/spendly-frontend/ios/App/CapApp-SPM/build/

# misc
.DS_Store
.idea
**/.idea
*.pem
codex-next-scaffold
_bmad-output

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel
/spendly-frontend/.vercel

# typescript
*.tsbuildinfo
/spendly-frontend/next-env.d.ts
